.form__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #222222;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
  padding: 15px 30px;
  transition: all .3s ease-in-out;
}

.form__link:hover {
  opacity: .85;
}

@media screen and (max-width: 767px) {
  .form__link {
    width: 100%;
    font-size: 12px;
    line-height: 2;
    justify-content: center;
    padding: 10px 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .form__link {
    width: 100%;
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
    padding: 12px 0;
  }
}
