.header {
  max-width: 1420px;
  background-color: #222;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 300px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    max-width: 748px;
  }
}
