.header__link {
  max-width: 240px;
  width: fit-content;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  text-decoration: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px 75px;
  transition: .3s ease-in-out;
}

.header__link:hover {
  opacity: .85;
}

@media screen and (max-width: 767px) {
  .header__link {
    max-width: 260px;
    font-size: 12px;
    padding: 10px 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header__link {
    padding: 12px 75px;
  }
}
