.intro__ellipse {
  width: 4px;
  height: 4px;
  background-image: url(../../../images/ellipse.svg);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.intro__ellipse:nth-child(1n) {
  position: relative;
  top: 0;
  left: 0;
}

.intro__ellipse:nth-child(2n) {
  position: relative;
  top: 0;
  left: 0;
}

