.header__description {
  max-width: 450px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #fff;
  opacity: .7;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__description {
    max-width: 260px;
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header__description {
    max-width: 360px;
    font-size: 15px;
    line-height: 1.33;
  }
}
