.ellipses {
  display: none;
}

@media screen and (max-width: 767px) {
  .ellipses {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
    text-align: center;
    cursor: pointer;
  }

  .ellipses .ellipses__label {
    display: inline-block;
    background-image: url(../../images/ellipse.svg);
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
  }
}

#switch1:checked~.ellipses .ellipses__label[for="switch1"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch2:checked~.ellipses .ellipses__label[for="switch2"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch3:checked~.ellipses .ellipses__label[for="switch3"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch4:checked~.ellipses .ellipses__label[for="switch4"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch5:checked~.ellipses .ellipses__label[for="switch5"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch6:checked~.ellipses .ellipses__label[for="switch6"] {
  background-image: url(../../images/ellipse_active.svg);
}

#switch7:checked~.ellipses .ellipses__label[for="switch7"] {
  background-image: url(../../images/ellipse_active.svg);
}
