.intro {
  padding: 120px 170px 0;
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 94px 0 0;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .intro {
    padding: 70px 0 0;
  }
}
