.intro__title {
  max-width: 1103px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.13;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 260px;
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .intro__title {
    max-width: 648px;
    font-size: 33px;
    line-height: 1.12;
  }
}
